<header>
      <div>
            <a href="/">SLS</a>
        </div>
  <nav>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/forum">Forum</a>
    <a href="/playground">Playground</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </nav>
</header>