<nav>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/forum">Forum</a>
    <a href="/playground">Playground</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
</nav>
